[core]
	editor = emacs
[user]
	name = "Piotr Kotnis"
	email = "piotr.kotnis@u2i.com"
[alias]
	st = status
	co = checkout
	cof = !git branch | fzf | xargs git checkout
	cdiff = diff --cached
	lg = log --graph --all --oneline
	slog = log --oneline --abbrev-commit